html,
body {
  overflow-x: hidden;
  height: 100%;
}
body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: "Russo One", sans-serif;
  background-image: url(https://i.imgur.com/u5bdU3T.png);
  background-size: cover;
}
.header {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #73c8a9;
  position: fixed;
  height: 60px !important;
  overflow: hidden;
  z-index: 10;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 300px;
  margin-top: 60px;
  transform: translateX(-300px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #73c8a9 0%, #373b44 100%);
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
/*--hamburger menu icon open-close style ends--*/
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/*--hamburger menu icon open-close style ends--*/
/*--Grid-controlls style--*/
table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 96%;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type="number"] {
  width: 3em;
  margin-left: 5px;
}

button {
  font-family: "Russo One", sans-serif;
  background-color: #2196f3;
  border-radius: 4px;
  border: 2px solid rgba(69, 62, 75, 0.89);
  color: white;
}

.grid_builder {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.grid_builder button {
  background: #0e2959;
  color: #fff;
  border-radius: 7px;
  box-shadow: 0 5px #73c8a9;
  padding: 2px 15px 2px 15px;
}

.grid_builder div {
  width: 60px;
  margin-right: 5px;
  color: white;
  font-family: "Russo One", sans-serif;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 53px 2% 15px 2%;
  border: 2px solid rgba(239, 236, 242, 0);
}

.controls > * {
  margin: 0.5em;
}

#create-grid,
#reset,
#clear-grid {
  width: 120px;
  font-size: 15px;
}

#reset {
  margin-top: 10px;
}

#color-picker {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}
/*--Grid controlls style ends--*/
footer {
  background: #73c8a9;
  text-align: center;
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 30px;
  }

  .grid_builder {
    flex-direction: column;
    width: 70%;
    align-items: center;
  }

  .grid_builder button {
    margin: 5px;
  }
}
/*--Batman image and ToolTip style--*/
.bat {
  justify-content: center;
  align-items: center;
  margin: 0px 1px 0px 89px;
}
img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 0%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: monospace;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/*--Batman image and ToolTip style ends--*/
